/.settings/
/GestPymeSOCWeb/target/
/GestPymeSOCWeb/.settings/
/GestPymeSOCProd/target/
/GestPymeSOCProd/.settings/
/GestPymeSOCWidgetset/target/
/GestPymeSOCWidgetset/.settings/
/GestPymeSOCBusiness/target/
/GestPymeSOCBusiness/.settings/